$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 13%);
$color-black-secondary: hsl(200, 19%, 18%);
$color-link: hsl(213, 47%, 47%);
$color-blue: hsla(213, 47%, 30%, 0.3);

$breakpoints: (
  "mobile": "screen and (max-width: 500px)",
  "tablet": "screen and (max-width: 768px)",
  "desktop": "screen and (max-width: 1200px)",
) !default;

@mixin mq($breakpoint: desktop) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Th.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: 800;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Noto+Sans+JP:wght@400;900&display=swap");
