:root {
  color-scheme: light;
  --text: 48 42 37;
  --text-muted: 110 100 90;
  --text-faint: 175 168 158;
  --bg: 255 248 240;
  --bg-accent: 216 226 240;
  --bg-warm: 240 220 196;
  --accent: 74 136 224;
  --accent-dark: 26 72 120;
  --highlight: 162 132 32;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &::selection {
    background-color: rgb(var(--text));
    color: rgb(var(--bg));
  }
}

a, button {
  &:focus-visible{
    color: red!important;
    background-color: yellow!important;
    background-image: none!important;
    outline: 2px solid red;
    outline-offset: 2px;
  }
}

html {
  width: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  font-feature-settings: "palt";
}

body {
  margin: 0;
  color: rgb(var(--text));
  background-color: rgb(var(--bg));
  font-size: 16px;
  line-height: 1.6;
  font-family:
    fot-udkakugo-large-pr6n,
    "line-seed-jp",
    "biz-udp-gothic",
    "noto-sans-jp",
    -apple-system,
    sans-serif;
  cursor: default;
  scrollbar-gutter: stable;
}

h1 {
  background-color: rgb(var(--text));
  color: rgb(var(--bg));
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3rem;
  padding: 1rem 0 0;
  margin: 0px;
}

h2,
.category-name {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0 0.5rem;
  margin: 0px;
  width: fit-content;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 1rem 0;
  margin: 0px;
}

h4 {
  padding: 1rem 1rem 0;
  margin: 0;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

.underline, p a, li a, table a {
  color: rgb(var(--accent));
  text-decoration: none;
  color: rgb(var(--accent));
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-style: dashed;
  transition: all 0.2s;

  @media (hover: hover) {
    &:hover {
  opacity: 0.5;
    }
  }

  @media (hover: none) {
    &:active {
  opacity: 0.5;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

ul {
  padding-left: 1rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.tabler-icon {
  vertical-align: -0.35rem;
}

.sub {
  font-size: 50%;
  color: rgb(var(--text-muted));
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
