* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus-visible {
    outline: 3px solid yellow;
    outline-offset: 2px;
  }
}

:root {
  color-scheme: dark;
}

html {
  width: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  font-feature-settings: "palt";
}

body {
  margin: 0;
  color: $color-white;
  background-image: linear-gradient(
    to bottom right,
    oklch(80% 0.4 222),
    oklch(35% 0.5 313)
  );
  font-size: 16px;
  line-height: 1.6;
  font-family:
    "LINESeedJP",
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  cursor: default;
  scrollbar-gutter: stable;
}

h1 {
  background-color: $color-white;
  color: $color-black;
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
  padding: 1rem 0 0;
  margin: 0px;
}

h2,
.category-name {
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem 0 0.5rem;
  margin: 0px;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 1rem 0;
  margin: 0px;
}

h4 {
  padding: 1rem 1rem 0;
  margin: 0;
  font-size: 1rem;
}

a,
.link {
  color: $color-link;
  text-decoration: none;
  text-underline-offset: 0.3rem;

  @media (hover: hover) {
    &:hover > :not(.no-underline) > :not(p),
    &:hover:not(:has(div)) {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
  @media (hover: none) {
    &:active > :not(.no-underline) > :not(p),
    &:active:not(:has(div)) {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
}

ul {
  padding-left: 1rem;
}

.tabler-icon {
  vertical-align: -0.35rem;
}

.alert {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #37474f;

  &.info {
    background-color: $color-black-secondary;
    color: $color-white;
  }
}
