@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "LINESeedJP";
  src: url("/fonts/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

.dark-mode {
  color-scheme: dark;
  --color-text: #ffffff;
  --color-back: #212121;
  --color-black-secondary: #263238;
  --color-link: #00bdd6;
}

.light-mode {
  color-scheme: light;
  --color-text: #121212;
  --color-back: #fafafa;
  --color-black-secondary: #e0e0e0;
  --color-link: #0077cc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus-visible {
    outline: 3px solid yellow;
    outline-offset: 2px;
  }
}

html {
  width: 100%;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  font-feature-settings: "palt";
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-back);
  font-size: 16px;
  line-height: 1.6;
  font-family:
    "LINESeedJP",
    "BIZ UDPGothic",
    "Noto Sans JP",
    -apple-system,
    sans-serif;
  cursor: default;
  scrollbar-gutter: stable;
}

h1 {
  background-color: var(--color-text);
  color: var(--color-back);
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.5rem;
  padding: 1rem 0 0;
  margin: 0px;
}

h2,
.category-name {
  font-size: 2rem;
  font-weight: 800;
  padding: 2rem 0 0.5rem;
  margin: 0px;
}

h3 {
  font-size: 1.5rem;
  padding: 1rem 1rem 0;
  margin: 0px;
}

h4 {
  padding: 1rem 1rem 0;
  margin: 0;
  font-size: 1rem;
}

a,
.link {
  color: var(--color-link);
  text-decoration: none;
  text-underline-offset: 0.3rem;

  @media (hover: hover) {
    &:hover > :not(.no-underline) > :not(p),
    &:hover:not(:has(div)) {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
  @media (hover: none) {
    &:active > :not(.no-underline) > :not(p),
    &:active:not(:has(div)) {
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }
}

ul {
  padding-left: 1rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.tabler-icon {
  vertical-align: -0.35rem;
}

.alert {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #37474f;

  &.info {
    background-color: var(--color-black-secondary);
    color: var(--color-text);
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  .hidden-mobile {
    display: none;
  }
}