$color-text: hsl(0, 0%, 100%);
$color-background: hsl(0, 0%, 13%);
$color-link: hsl(213, 47%, 47%);

body {
  color: $color-text;
  background: $color-background;
  transition: all 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: all .5s;
  &:hover {
    opacity: .5;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: $color-background;
}